html {
  margin: 0;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
  font-size: 6rem;
  font-family: 'Cookie', cursive;
  color: #26b1e8;
  margin-bottom: 1rem;
}

.new-note-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column; 
  width: 600px;
  margin: 0 auto;
}

.new-note-container label {
  text-align: center;
}

#new-note {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  height: 100px;
}

button.add-note {
  width: 100px;
  margin: 1rem auto;
  
}

.stickies {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
}

.sticky-container {
  width: 300px;
  position: relative;
}

.stickies img {
  width: 100%;
}

.sticky-container p {
  font-size: 2rem;
  position: absolute;
  top: 40px;
  left: 60px;
  width: 185px;
  height: 130px;
  overflow: hidden;
}

.fa-trash-alt {
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 2.5rem;
  color: rgb(228, 122, 165);
}

.fa-search-plus {
  position: absolute;
  bottom: 60px;
  left: 100px;
  font-size: 2.5rem;
  color: rgb(143, 189, 242);
}

.modal-background {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

@media screen and (max-width: 910px) {
  .stickies {
    width: 600px;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    padding: 0 2rem;
  }
  textarea#new-note {
    width: 270px;
    margin: 0 auto;
  }
  .new-note-container {
    width: 300px;
  }
  .stickies {
    width: 300px;
  }
}